@charset "utf-8";
/* CSS Document */
#contenedor{
	width: 1050px;
	height: 1680px;
}

#cabeza{
	height: 9%;
	background-color: #000000;
	
}

#logo{
	width: 500px;
	float:left;
	height: 150px;
}

#logokaren{
	width:300px;
	height:auto;
	margin-top: 50px;
	margin-left: 23px;
}

#contenido{
	height:50%;
	background-color: #F9F2F2;
}

#biografia{
	width: 525px;
	height: 500px;
	float: left;
	margin-top:85px;
	margin-left:20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

#imeagenkaren{
	width: 420px;
	height: 500px;
	float: right;
	margin-top: 85px;
	margin-right: 50px;
}

#foto{
	width: 420px;
	height:auto;
	margin-top:80px;
}

#edad{
	padding: 5px;
	background: #B4B4B4;

}

#footer{
	height:30%;
	background-color:#FFF;

}

#menu{
	padding:5px;
	border: 7px;
	width:40%;
	float: right;
	margin-top:50px;
}

th{
	width:90px;
	padding:2px;
	color:#FFF;
	font-family:"Arial Black", Gadget, sans-serif;
}

#contactos{
	color:#000000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	
}

#todasredes{
	width: 500px;
	height:500;
	margin-right: 100px;
	margin-left: 200px;
}


.whats{
	margin-right: 100px;
}

body{
	margin:0px;
}



